In [56]:
#1
# 1: Input:
#  Input:
#  list1 = [1,2,3]
#  list2 = [4,5,6]
#  Output:
#  [1,2,3,4,5,6]

list1 = [1,2,3]
list2 = [4,5,6]

a1=list1+list2

print(a1)

[1, 2, 3, 4, 5, 6]

In [ ]:
#2
#  Input:
#  list1 = [1,2,3]
#  list2 = [4,5,6]
#  Output:
#  [1,4,2,5,3,6]

list1 = [1, 2, 3]
list2 = [4, 5, 6]
v1 = sum(zip(list1, list2), ())
v1 = list(v1)
print(v1)

In [76]:
#3
# Input:
#  list1 = [1,2,3]
#  list2 = [4,5,6]
#  Output:
#  {1:2,3:4,5:6}
list1 = [1, 2, 3]
list2 = [4, 5, 6]


a1=list1+list2

def Convert(a1):
    res_dct = {a1[i]: a1[i + 1] for i in range(0, len(all1), 2)}
    return res_dct
print(Convert(a1))

{1: 2, 3: 4, 5: 6}

In [ ]:
 #4
# Input:
#  list1 = [1,2,3]
#  list2 = [4,5,6]
#  Output:
#  [1,2,3,[4,5,6]]

list1 = [1,2,3]
list2 = [4,5,6]

list1.append(list2)
print(list1)

In [ ]:
#5
# Input:
#  list1 = [1,2,3]
#  list2 = [4,5,6]
#  Output:
#  [[1,2,3],[4,5,6]]
 
list1 = [1,2,3]
list2 = [4,5,6]
app1=[list1,list2]

print(app1)

In [ ]:
#6
a1 = {"Name": "John", "Age": 29, "salary": 25000, "Company": "GOOGLE"}
a1["Designation"] = "Engineer"

print(a1)

In [ ]:
#7
a1 = {"Name": "John", "Age": 29, "salary": 25000, "Company": "GOOGLE", "Designation": "Engineer"}

var1 = list(a1.keys())
var2 = list(a1.values())

print(var1)
print(var2)

In [ ]:
#8
a1 = {"Name": "John", "Age": 29, "salary": 25000, "Company": "GOOGLE", "Designation": "Engineer"}

if a1["salary"] > 25000:
    a1["salary"] = 50000
    a1["Designation"] = "Manager"

print(a1)

In [ ]:
#9
app1 = {"Name": "John", "Age": 29, "salary": 25000, "Company": "GOOGLE", "Designation": "Engineer"}
del app1["Company"]
print(app1)

In [ ]:
#10
#10.
#Input:
#data = {"Name": "John", "Age": 29, "salary":25000,"Company":"GOOGLE","Designation":"Engineer"}
#Output:
#TRUE/FALSE (On the basis of salary more than 25,000 or not. If Salary more than 25,000 then change Destination to Manager)
#(If True, Output will be {"Name": "John", "Age": 29, "salary":50000,"Company":"GOOGLE","Designation":"Manager"})

var1 = {"Name": "John", "Age": 29, "salary": 28000, "Company": "GOOGLE", "Designation": "Engineer"}

if var1["salary"] > 25000:
    var1["salary"] = 50000
    var1["Designation"] = "Manager"
    result = True
else:
    result = False

print(result)
print(var1)

In [85]:

list1 = [1,2,3]
list2 = [4,5,6]

a1=list1+list2

In [88]:
a1 = ['a', 2, 'b', 4, 'c', 6]

result = {}
for i in range(0, len(a1), 2):
    if i+1 < len(a1):
        result[a1[i]] = a1[i+1]
 
print(result)

{'a': 2, 'b': 4, 'c': 6}